.cdk-overlay-container,
.cdk-global-overlay-wrapper {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}

.cdk-overlay-container {
	position: fixed;
	z-index: 1000
}

.cdk-overlay-container:empty {
	display: none
}

.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000
}

.cdk-overlay-pane {
	position: absolute;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1000;
	display: flex;
	max-width: 100%;
	max-height: 100%
}

.cdk-overlay-backdrop {
	position: absolute;
	inset: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
	opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: .8
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: .7
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, .5)
}

.cdk-overlay-transparent-backdrop {
	transition: visibility .2s linear, opacity .2s linear;
	visibility: hidden;
	opacity: 1
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
	opacity: 0;
	visibility: visible
}

.cdk-overlay-backdrop-noop-animation {
	transition: none
}

.cdk-overlay-connected-position-bounding-box {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	min-width: 1px;
	min-height: 1px
}

.cdk-global-scrollblock {
	position: fixed;
	width: 100%;
	overflow-y: scroll
}

button {
	border: 2px solid transparent;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .2s ease-in-out
}

button .CrownCrete-button-inner {
	display: block;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.CrownCrete-button {
	color: var(--fl-fg);
	border-radius: 25px;
	padding: 10px 20px;
	font-weight: 600;
	letter-spacing: .05em;
	text-transform: uppercase;
	transition: all .3s ease
}

.CrownCrete-button:not(.small):not(.big) {
	font-size: .9rem;
	height: 44px;
	max-height: 44px
}

.CrownCrete-button:not(.small):not(.big) CrownCrete-icon {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 .6rem 0 0
}

.CrownCrete-button.big {
	font-size: 1.1rem;
	padding: 0 28px;
	min-height: 52px
}

.CrownCrete-button.big CrownCrete-icon {
	width: 1.4rem;
	height: 1.4rem;
	margin: 0 .7rem 0 0
}

.CrownCrete-button.small {
	font-size: .8rem;
	padding: 0 12px;
	height: 36px
}

.CrownCrete-button.small CrownCrete-icon {
	width: 1.1rem;
	height: 1.1rem;
	margin: 0 .4rem 0 0
}

.CrownCrete-button.reverse {
	flex-direction: row-reverse
}

.CrownCrete-button .CrownCrete-button-inner {
	font-weight: 600;
	font-size: .9rem
}

.CrownCrete-icon-button {
	border-radius: 50%;
	align-self: baseline;
	color: var(--fl-fg700);
	transition: all .2s ease
}

.CrownCrete-icon-button CrownCrete-icon {
	width: 1.3rem;
	height: 1.3rem
}

.CrownCrete-icon-button:not(.small):not(.big) {
	padding: 10px
}

.CrownCrete-icon-button.big {
	padding: 14px
}

.CrownCrete-icon-button.small {
	padding: 8px
}

.CrownCrete-button.primary,
.CrownCrete-icon-button.primary {
	background-color: var(--fl-primary);
	border-color: var(--fl-primary);
	color: var(--fl-bg);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1)
}

.CrownCrete-button.primary.no-border,
.CrownCrete-icon-button.primary.no-border {
	border-color: transparent
}

@media (hover: hover) and (pointer: fine) {

	.CrownCrete-button.primary:not([disabled]):hover,
	.CrownCrete-icon-button.primary:not([disabled]):hover {
		background-color: var(--fl-primary700);
		border-color: var(--fl-primary700);
		color: var(--fl-bg);
		transform: translateY(-2px);
		box-shadow: 0 6px 8px rgba(0, 0, 0, .15)
	}

	.CrownCrete-button.primary:not([disabled]):hover.no-border,
	.CrownCrete-icon-button.primary:not([disabled]):hover.no-border {
		border-color: transparent
	}
}

.CrownCrete-button.primary.active,
.CrownCrete-button.primary.selected,
.CrownCrete-icon-button.primary.active,
.CrownCrete-icon-button.primary.selected {
	background-color: var(--fl-primary800);
	border-color: var(--fl-primary800);
	color: var(--fl-bg)
}

.CrownCrete-button.primary:disabled,
.CrownCrete-icon-button.primary:disabled {
	cursor: not-allowed;
	background-color: var(--fl-disabled-primary);
	border-color: var(--fl-disabled-primary);
	color: var(--fl-disabled-primary-txt);
	opacity: .7;
	box-shadow: none
}

.CrownCrete-button.outline,
.CrownCrete-icon-button.outline {
	background-color: transparent;
	border-color: var(--fl-border-clr);
	color: var(--fl-fg)
}

.CrownCrete-button.outline.no-border,
.CrownCrete-icon-button.outline.no-border {
	border-color: transparent
}

@media (hover: hover) and (pointer: fine) {

	.CrownCrete-button.outline:not([disabled]):hover,
	.CrownCrete-icon-button.outline:not([disabled]):hover {
		background-color: var(--fl-bg100);
		border-color: var(--fl-primary);
		color: var(--fl-primary)
	}

	.CrownCrete-button.outline:not([disabled]):hover.no-border,
	.CrownCrete-icon-button.outline:not([disabled]):hover.no-border {
		border-color: var(--fl-primary)
	}
}

.CrownCrete-button.outline.active,
.CrownCrete-button.outline.selected,
.CrownCrete-icon-button.outline.active,
.CrownCrete-icon-button.outline.selected {
	background-color: var(--fl-bg200);
	border-color: var(--fl-primary);
	color: var(--fl-primary)
}

.CrownCrete-button.outline:disabled,
.CrownCrete-icon-button.outline:disabled {
	cursor: not-allowed;
	background-color: var(--fl-bg200);
	border-color: var(--fl-disabled-primary-border);
	color: var(--fl-disabled-primary);
	opacity: .7
}

.CrownCrete-button.outline CrownCrete-icon,
.CrownCrete-icon-button.outline CrownCrete-icon {
	color: var(--fl-fg800)
}

@media (hover: hover) and (pointer: fine) {

	.CrownCrete-button.outline:not([disabled]):hover CrownCrete-icon,
	.CrownCrete-icon-button.outline:not([disabled]):hover CrownCrete-icon {
		color: var(--fl-primary)
	}
}

.CrownCrete-button.secondary,
.CrownCrete-icon-button.secondary {
	background-color: var(--fl-bg200);
	border-color: var(--fl-bg200);
	color: var(--fl-fg800)
}

.CrownCrete-button.secondary.no-border,
.CrownCrete-icon-button.secondary.no-border {
	border-color: transparent
}

@media (hover: hover) and (pointer: fine) {

	.CrownCrete-button.secondary:not([disabled]):hover,
	.CrownCrete-icon-button.secondary:not([disabled]):hover {
		background-color: var(--fl-bg);
		border-color: var(--fl-primary);
		color: var(--fl-primary)
	}

	.CrownCrete-button.secondary:not([disabled]):hover.no-border,
	.CrownCrete-icon-button.secondary:not([disabled]):hover.no-border {
		border-color: var(--fl-primary)
	}
}

.CrownCrete-button.secondary.active,
.CrownCrete-button.secondary.selected,
.CrownCrete-icon-button.secondary.active,
.CrownCrete-icon-button.secondary.selected {
	background-color: var(--fl-primary100);
	border-color: var(--fl-primary100);
	color: var(--fl-primary)
}

.CrownCrete-button.secondary:disabled,
.CrownCrete-icon-button.secondary:disabled {
	cursor: not-allowed;
	background-color: var(--fl-bg);
	border-color: var(--fl-bg);
	color: var(--fl-disabled-primary-txt);
	opacity: .7
}

@media (hover: hover) and (pointer: fine) {

	.CrownCrete-button.secondary:not([disabled]):hover CrownCrete-icon,
	.CrownCrete-icon-button.secondary:not([disabled]):hover CrownCrete-icon {
		color: var(--fl-primary)
	}
}

.CrownCrete-button.secondary:not(.selected) CrownCrete-icon,
.CrownCrete-icon-button.secondary:not(.selected) CrownCrete-icon {
	color: var(--fl-fg800)
}

.CrownCrete-carousel {
	display: block;
	width: 100%
}

.CrownCrete-carousel .CrownCrete-carousel-content {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1)
}

.CrownCrete-carousel .CrownCrete-carousel-inner {
	left: 0;
	position: relative;
	transition: .3s ease-in-out;
	display: inline-flex
}

.CrownCrete-carousel .CrownCrete-carousel-item {
	padding-right: 12px
}

.CrownCrete-carousel .CrownCrete-carousel-item:last-child {
	padding-right: 0
}

.CrownCrete-carousel .CrownCrete-carousel-action {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%)
}

.CrownCrete-carousel .CrownCrete-carousel-action CrownCrete-icon {
	color: var(--fl-bg);
	width: 2.5rem;
	height: 2.5rem;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	padding: 8px;
	transition: all .2s ease
}

.CrownCrete-carousel .CrownCrete-carousel-action.left {
	left: 12px
}

.CrownCrete-carousel .CrownCrete-carousel-action.right {
	right: 12px
}

.CrownCrete-carousel .CrownCrete-carousel-action:hover CrownCrete-icon {
	background-color: rgba(0, 0, 0, .7)
}

.CrownCrete-checkbox {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 8px;
	border-radius: 8px;
	transition: all .2s ease
}

.CrownCrete-checkbox:hover {
	background-color: var(--fl-bg100)
}

.CrownCrete-checkbox.align-checkbox-end {
	flex-direction: row
}

.CrownCrete-checkbox.align-checkbox-end .CrownCrete-checkbox-mark {
	margin: 0 1rem 0 0
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark {
	border-radius: 6px;
	border: 2px solid var(--fl-border-clr);
	background-color: var(--fl-bg);
	width: 24px;
	height: 24px;
	margin: 0 0 0 1rem;
	cursor: pointer;
	position: relative;
	transition: all .2s ease
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark input[type=checkbox] {
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
	cursor: pointer
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark .CrownCrete-checkbox-checked {
	position: absolute;
	inset: 0
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark.checked {
	background-color: var(--fl-primary);
	border-color: var(--fl-primary)
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark.checked .CrownCrete-checkbox-checked {
	left: 7px;
	top: 3px;
	width: 6px;
	height: 12px;
	border: solid var(--fl-bg);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg)
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark.checked:not(.disabled):hover {
	background-color: var(--fl-primary700)
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark:not(.checked):not(.disabled):hover {
	background-color: var(--fl-primary100);
	border-color: var(--fl-primary)
}

.CrownCrete-checkbox .CrownCrete-checkbox-mark.disabled {
	cursor: not-allowed;
	opacity: var(--fl-disabled-opacity)
}

.CrownCrete-checkbox label {
	font-weight: 500;
	font-size: .75rem;
	line-height: 1rem;
	flex: 1;
	cursor: pointer;
	max-width: 85%
}

.CrownCrete-checkbox label p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.CrownCrete-checkbox label p .required-mark {
	color: var(--fl-error-primary)
}

.CrownCrete-checkbox[disabled],
.CrownCrete-checkbox.disabled {
	cursor: not-allowed;
	opacity: .7
}

.CrownCrete-checkbox[disabled] label,
.CrownCrete-checkbox.disabled label {
	color: var(--fl-disabled-primary-txt)
}

.CrownCrete-radio {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	background-color: var(--fl-bg100);
	border-radius: 8px;
	padding: .75rem;
	transition: all .2s ease
}

.CrownCrete-radio:hover {
	background-color: var(--fl-bg200)
}

.CrownCrete-radio .CrownCrete-radio-mark {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 2px solid var(--fl-border-clr);
	background-color: var(--fl-bg);
	transition: all .2s ease
}

.CrownCrete-radio .CrownCrete-radio-mark .CrownCrete-radio-checked {
	opacity: 0;
	background-color: var(--fl-primary);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	transition: all .2s ease
}

.CrownCrete-radio .CrownCrete-radio-mark.checked {
	border-color: var(--fl-primary)
}

.CrownCrete-radio .CrownCrete-radio-mark.checked .CrownCrete-radio-checked {
	opacity: 1
}

.CrownCrete-radio .CrownCrete-radio-mark input[type=radio] {
	z-index: 2;
	cursor: pointer;
	position: absolute;
	opacity: 0;
	inset: 0
}

.CrownCrete-radio.align-radio-end {
	flex-direction: row
}

.CrownCrete-radio.align-radio-end label {
	padding-left: 0;
	padding-right: 1rem
}

.CrownCrete-radio:not([disabled]) .CrownCrete-radio-mark:hover,
.CrownCrete-radio:not([disabled]) .CrownCrete-radio-mark:hover {
	opacity: 1
}

.CrownCrete-radio:not([disabled]).invalid .CrownCrete-radio-mark {
	border-color: var(--fl-error)
}

.CrownCrete-radio label {
	padding-left: 1rem;
	flex: 1;
	display: flex;
	align-items: center;
	font-size: .875rem;
	font-weight: 500
}

.CrownCrete-radio[disabled],
.CrownCrete-radio.disabled {
	cursor: not-allowed;
	opacity: .7
}

.CrownCrete-radio[disabled] .CrownCrete-radio-mark,
.CrownCrete-radio.disabled .CrownCrete-radio-mark {
	border-color: var(--fl-disabled)
}

.CrownCrete-radio[disabled] .CrownCrete-radio-mark .CrownCrete-radio-checked,
.CrownCrete-radio.disabled .CrownCrete-radio-mark .CrownCrete-radio-checked {
	background-color: var(--fl-disabled)
}

.CrownCrete-radio[disabled] label,
.CrownCrete-radio.disabled label {
	color: var(--fl-disabled)
}

.CrownCrete-radio:not(disabled) label {
	cursor: pointer
}

.CrownCrete-radio-group {
	display: flex;
	flex-direction: column
}

.CrownCrete-radio-group .CrownCrete-radio {
	margin-bottom: 1rem
}

.CrownCrete-radio-group .CrownCrete-radio-mark.checked {
	background-color: var(--fl-primary200);
	border-color: var(--fl-primary)
}

.CrownCrete-radio-group[disabled],
.CrownCrete-radio-group.disabled {
	cursor: not-allowed;
	opacity: .7
}

.CrownCrete-radio-group[disabled] .CrownCrete-radio-mark,
.CrownCrete-radio-group.disabled .CrownCrete-radio-mark {
	border-color: var(--fl-disabled)
}

.CrownCrete-radio-group[disabled] CrownCrete-radio-mark .CrownCrete-radio-checked {
	background-color: var(--fl-disabled)
}

.CrownCrete-radio-group[disabled] label,
.CrownCrete-radio-group.disabled label {
	color: var(--fl-disabled)
}

.CrownCrete-radio-group.row {
	display: inline-flex;
	flex-direction: row
}

.CrownCrete-radio-group.row .CrownCrete-radio {
	margin: 0 1rem 0 0
}

.CrownCrete-radio-group.row .CrownCrete-radio label {
	padding: 0 0 0 .75rem
}

.CrownCrete-chips {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .5rem
}

.CrownCrete-chips .CrownCrete-chip {
	border-radius: 20px;
	background-color: var(--fl-bg200);
	padding: .25rem .75rem;
	color: var(--fl-fg);
	align-self: baseline;
	border: 2px solid var(--fl-bg200);
	transition: all .2s ease;
	font-size: .875rem;
	font-weight: 500
}

.CrownCrete-chips .CrownCrete-chip:hover:not(.selected) {
	background-color: var(--fl-bg);
	border-color: var(--fl-primary);
	color: var(--fl-primary)
}

.CrownCrete-chips .CrownCrete-chip.CrownCrete-skeleton-loader {
	height: 28px;
	width: 80px;
	animation: pulse 1.5s infinite
}

.CrownCrete-chips .CrownCrete-chip.selected {
	background-color: var(--fl-primary);
	border-color: var(--fl-primary);
	color: var(--fl-bg)
}

.CrownCrete-dialog-column {
	display: flex;
	flex-direction: column;
	flex: 1
}

CrownCrete-dialog-container {
	max-height: inherit;
	min-height: inherit;
	min-width: inherit;
	max-width: inherit;
	display: flex;
	flex-direction: column;
	height: 100%
}

@media (max-width: 767px) {
	CrownCrete-dialog-container {
		width: 100vw;
		height: 100vh
	}
}

.CrownCrete-dialog-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--fl-bg);
	border-radius: 16px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
	overflow: hidden
}

@media (min-width: 768px) {
	.CrownCrete-dialog-wrapper {
		max-width: 90vw;
		max-height: 90vh
	}
}

.CrownCrete-dialog-title {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5;
	color: var(--fl-fg);
	max-width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.CrownCrete-dialog-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 1rem 1.5rem;
	border-bottom: 2px solid var(--fl-bg200);
	position: relative;
	z-index: 1
}

@media (min-width: 768px) {
	.CrownCrete-dialog-header {
		padding: 1.5rem 2rem
	}

	.CrownCrete-dialog-header button {
		position: absolute;
		top: 1rem;
		right: 1rem
	}
}

.CrownCrete-dialog-header.smooth {
	padding: 1rem 1.5rem;
	justify-content: space-between;
	border-bottom: none
}

.CrownCrete-dialog-header.smooth .CrownCrete-dialog-title {
	line-height: 2rem
}

.CrownCrete-dialog-header.smooth .CrownCrete-icon-button {
	right: 1rem
}

.CrownCrete-dialog-content {
	overflow: auto;
	flex: 1;
	padding: 1.5rem
}

@media (min-width: 768px) {
	.CrownCrete-dialog-content {
		padding: 2rem
	}
}

.CrownCrete-dialog-actions {
	border-top: 2px solid var(--fl-bg200);
	padding: 1rem 1.5rem
}

@media (min-width: 768px) {
	.CrownCrete-dialog-actions {
		padding: 1.5rem 2rem
	}
}

.CrownCrete-dialog {
	max-height: 100vh;
	display: flex;
	flex-direction: column
}

@media (min-width: 768px) {
	.CrownCrete-dialog {
		max-height: 95vh;
		padding: 0
	}
}

.CrownCrete-dialog:not(.stretch) {
	align-items: center;
	justify-content: center
}

.CrownCrete-dialog.CrownCrete-dialog-bottom-mobile {
	width: 100vw
}

@media (max-width: 767px) {
	.CrownCrete-dialog.CrownCrete-dialog-bottom-mobile {
		justify-content: flex-end
	}

	.CrownCrete-dialog.CrownCrete-dialog-bottom-mobile .CrownCrete-dialog-wrapper {
		width: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0
	}
}

@media (max-width: 767px) and (orientation: landscape) {
	.CrownCrete-dialog.CrownCrete-dialog-bottom-mobile {
		justify-content: center
	}
}

.CrownCrete-dialog.stretch .CrownCrete-dialog-wrapper {
	flex: 1;
	height: 100%
}

.CrownCrete-dialog.full-height {
	display: flex;
	flex-direction: column;
	flex: 1
}

.CrownCrete-dialog.full-height .CrownCrete-dialog-content {
	flex: 1;
	overflow: auto
}

.CrownCrete-input {
	display: inline-flex;
	align-items: center;
	border: 2px solid var(--fl-border-clr);
	border-radius: 8px;
	position: relative;
	height: 48px;
	transition: all .2s ease
}

.CrownCrete-input.textarea {
	height: auto;
	min-height: 72px
}

.CrownCrete-input CrownCrete-icon {
	color: var(--fl-fg700);
	height: 100%;
	padding: 0 .75rem
}

.CrownCrete-input:not([disabled]):hover {
	border-color: var(--fl-primary)
}

.CrownCrete-input:not([disabled]).focus {
	border-color: var(--fl-primary);
	box-shadow: 0 0 0 3px rgba(var(--fl-primary-rgb), .2)
}

.CrownCrete-input:not([disabled]).invalid {
	border-color: var(--fl-error-primary);
	background-color: var(--fl-error100)
}

.CrownCrete-input:not([disabled]).invalid input {
	background-color: var(--fl-error100)
}

.CrownCrete-input[disabled] {
	border-color: var(--fl-disabled-primary-txt);
	background-color: var(--fl-bg100);
	color: var(--fl-disabled-primary);
	opacity: .7
}

.CrownCrete-input[disabled] CrownCrete-icon {
	color: var(--fl-disabled-primary)
}

.CrownCrete-input input,
.CrownCrete-input textarea {
	border: none;
	outline: none;
	flex: 1;
	border-radius: 8px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--fl-fg);
	padding: .75rem 1rem;
	background-color: transparent
}

.CrownCrete-input input::placeholder,
.CrownCrete-input textarea::placeholder {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--fl-fg700)
}

.CrownCrete-input textarea {
	min-height: 66px;
	resize: vertical
}

.CrownCrete-input .CrownCrete-input-prefix {
	display: flex;
	align-items: center;
	margin: 0 0 0 .75rem
}

.CrownCrete-input .CrownCrete-input-appendix {
	margin-right: .75rem
}

.CrownCrete-input .CrownCrete-input-clear {
	display: flex;
	align-items: center;
	margin-right: .75rem;
	min-width: 1.5rem
}

.CrownCrete-input .CrownCrete-input-clear button {
	width: 1.5rem;
	height: 1.5rem;
	padding: 0;
	background-color: var(--fl-bg200);
	border-radius: 50%;
	transition: all .2s ease
}

.CrownCrete-input .CrownCrete-input-clear button:hover {
	background-color: var(--fl-bg)
}

.CrownCrete-img-tile {
	display: inline-flex;
	width: inherit;
	height: inherit;
	background-color: var(--fl-border-clr);
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
	transition: all .2s ease
}

@media (min-width: 1024px) {
	.CrownCrete-img-tile {
		width: 150px;
		max-width: 150px;
		height: 150px;
		max-height: 150px
	}
}

.CrownCrete-img-tile:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .15)
}

.CrownCrete-img-tile.img-contain img {
	object-fit: contain
}

.CrownCrete-img-tile.img-fill img {
	object-fit: fill
}

.CrownCrete-img-tile img {
	border-radius: inherit;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	transition: all .3s ease
}

.CrownCrete-img-tile:hover img {
	transform: scale(1.05)
}

.CrownCrete-img-tile .CrownCrete-img-tile-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .75rem
}

.CrownCrete-img-tile .CrownCrete-img-tile-inner .CrownCrete-img-tile-top,
.CrownCrete-img-tile .CrownCrete-img-tile-inner .CrownCrete-img-tile-bottom {
	display: flex;
	justify-content: flex-end
}

.CrownCrete-img-tile .CrownCrete-img-tile-inner .CrownCrete-img-tile-bottom {
	align-items: flex-end
}

.CrownCrete-img-tile CrownCrete-icon {
	color: var(--fl-bg);
	width: 32px;
	height: 32px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	padding: 6px;
	transition: all .2s ease
}

.CrownCrete-img-tile CrownCrete-icon:hover {
	background-color: rgba(0, 0, 0, .7)
}

.CrownCrete-range {
	display: flex;
	flex-direction: column;
	min-width: 200px
}

.CrownCrete-range input[type=range] {
	width: inherit;
	min-width: inherit;
	appearance: none;
	background: transparent;
	cursor: pointer
}

.CrownCrete-range input[type=range][disabled]::-webkit-slider-thumb {
	background: var(--fl-disabled)
}

.CrownCrete-range input[type=range]::-webkit-slider-runnable-track {
	height: 8px;
	background: var(--fl-bg200);
	border-radius: 4px;
	transition: all .2s ease
}

.CrownCrete-range input[type=range]::-webkit-slider-thumb {
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--fl-primary);
	border: 2px solid var(--fl-bg);
	margin-top: -8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	transition: all .2s ease
}

.CrownCrete-range input[type=range]::-webkit-slider-thumb:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .15)
}

.CrownCrete-range .CrownCrete-range-labels {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	font-size: .875rem;
	color: var(--fl-fg700)
}

.fl-m-0 {
	margin: 0
}

.fl-m-0-i {
	margin: 0 !important
}

.fl-p-0 {
	padding: 0
}

.fl-mt-0 {
	margin-top: 0
}

.fl-mt-0-i {
	margin-top: 0 !important
}

.fl-pt-0 {
	padding-top: 0
}

.fl-mr-0 {
	margin-right: 0
}

.fl-mr-0-i {
	margin-right: 0 !important
}

.fl-pr-0 {
	padding-right: 0
}

.fl-mb-0 {
	margin-bottom: 0
}

.fl-mb-0-i {
	margin-bottom: 0 !important
}

.fl-pb-0 {
	padding-bottom: 0
}

.fl-ml-0 {
	margin-left: 0
}

.fl-ml-0-i {
	margin-left: 0 !important
}

.fl-pl-0 {
	padding-left: 0
}

.fl-mx-0 {
	margin-left: 0;
	margin-right: 0
}

.fl-px-0 {
	padding-left: 0;
	padding-right: 0
}

.fl-my-0 {
	margin-top: 0;
	margin-bottom: 0
}

.fl-py-0 {
	padding-top: 0;
	padding-bottom: 0
}

.fl-m-4 {
	margin: .25rem
}

.fl-m-4-i {
	margin: .25rem !important
}

.fl-p-4 {
	padding: .25rem
}

.fl-mt-4 {
	margin-top: .25rem
}

.fl-mt-4-i {
	margin-top: .25rem !important
}

.fl-pt-4 {
	padding-top: .25rem
}

.fl-mr-4 {
	margin-right: .25rem
}

.fl-mr-4-i {
	margin-right: .25rem !important
}

.fl-pr-4 {
	padding-right: .25rem
}

.fl-mb-4 {
	margin-bottom: .25rem
}

.fl-mb-4-i {
	margin-bottom: .25rem !important
}

.fl-pb-4 {
	padding-bottom: .25rem
}

.fl-ml-4 {
	margin-left: .25rem
}

.fl-ml-4-i {
	margin-left: .25rem !important
}

.fl-pl-4 {
	padding-left: .25rem
}

.fl-mx-4 {
	margin-left: .25rem;
	margin-right: .25rem
}

.fl-px-4 {
	padding-left: .25rem;
	padding-right: .25rem
}

.fl-my-4 {
	margin-top: .25rem;
	margin-bottom: .25rem
}

.fl-py-4 {
	padding-top: .25rem;
	padding-bottom: .25rem
}

.fl-m-8 {
	margin: .5rem
}

.fl-m-8-i {
	margin: .5rem !important
}

.fl-p-8 {
	padding: .5rem
}

.fl-mt-8 {
	margin-top: .5rem
}

.fl-mt-8-i {
	margin-top: .5rem !important
}

.fl-pt-8 {
	padding-top: .5rem
}

.fl-mr-8 {
	margin-right: .5rem
}

.fl-mr-8-i {
	margin-right: .5rem !important
}

.fl-pr-8 {
	padding-right: .5rem
}

.fl-mb-8 {
	margin-bottom: .5rem
}

.fl-mb-8-i {
	margin-bottom: .5rem !important
}

.fl-pb-8 {
	padding-bottom: .5rem
}

.fl-ml-8 {
	margin-left: .5rem
}

.fl-ml-8-i {
	margin-left: .5rem !important
}

.fl-pl-8 {
	padding-left: .5rem
}

.fl-mx-8 {
	margin-left: .5rem;
	margin-right: .5rem
}

.fl-px-8 {
	padding-left: .5rem;
	padding-right: .5rem
}

.fl-my-8 {
	margin-top: .5rem;
	margin-bottom: .5rem
}

.fl-py-8 {
	padding-top: .5rem;
	padding-bottom: .5rem
}

.fl-m-12 {
	margin: .75rem
}

.fl-m-12-i {
	margin: .75rem !important
}

.fl-p-12 {
	padding: .75rem
}

.fl-mt-12 {
	margin-top: .75rem
}

.fl-mt-12-i {
	margin-top: .75rem !important
}

.fl-pt-12 {
	padding-top: .75rem
}

.fl-mr-12 {
	margin-right: .75rem
}

.fl-mr-12-i {
	margin-right: .75rem !important
}

.fl-pr-12 {
	padding-right: .75rem
}

.fl-mb-12 {
	margin-bottom: .75rem
}

.fl-mb-12-i {
	margin-bottom: .75rem !important
}

.fl-pb-12 {
	padding-bottom: .75rem
}

.fl-ml-12 {
	margin-left: .75rem
}

.fl-ml-12-i {
	margin-left: .75rem !important
}

.fl-pl-12 {
	padding-left: .75rem
}

.fl-mx-12 {
	margin-left: .75rem;
	margin-right: .75rem
}

.fl-px-12 {
	padding-left: .75rem;
	padding-right: .75rem
}

.fl-my-12 {
	margin-top: .75rem;
	margin-bottom: .75rem
}

.fl-py-12 {
	padding-top: .75rem;
	padding-bottom: .75rem
}

.fl-m-16 {
	margin: 1rem
}

.fl-m-16-i {
	margin: 1rem !important
}

.fl-p-16 {
	padding: 1rem
}

.fl-mt-16 {
	margin-top: 1rem
}

.fl-mt-16-i {
	margin-top: 1rem !important
}

.fl-pt-16 {
	padding-top: 1rem
}

.fl-mr-16 {
	margin-right: 1rem
}

.fl-mr-16-i {
	margin-right: 1rem !important
}

.fl-pr-16 {
	padding-right: 1rem
}

.fl-mb-16 {
	margin-bottom: 1rem
}

.fl-mb-16-i {
	margin-bottom: 1rem !important
}

.fl-pb-16 {
	padding-bottom: 1rem
}

.fl-ml-16 {
	margin-left: 1rem
}

.fl-ml-16-i {
	margin-left: 1rem !important
}

.fl-pl-16 {
	padding-left: 1rem
}

.fl-mx-16 {
	margin-left: 1rem;
	margin-right: 1rem
}

.fl-px-16 {
	padding-left: 1rem;
	padding-right: 1rem
}

.fl-my-16 {
	margin-top: 1rem;
	margin-bottom: 1rem
}

.fl-py-16 {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.fl-m-20 {
	margin: 1.25rem
}

.fl-m-20-i {
	margin: 1.25rem !important
}

.fl-p-20 {
	padding: 1.25rem
}

.fl-mt-20 {
	margin-top: 1.25rem
}

.fl-mt-20-i {
	margin-top: 1.25rem !important
}

.fl-pt-20 {
	padding-top: 1.25rem
}

.fl-mr-20 {
	margin-right: 1.25rem
}

.fl-mr-20-i {
	margin-right: 1.25rem !important
}

.fl-pr-20 {
	padding-right: 1.25rem
}

.fl-mb-20 {
	margin-bottom: 1.25rem
}

.fl-mb-20-i {
	margin-bottom: 1.25rem !important
}

.fl-pb-20 {
	padding-bottom: 1.25rem
}

.fl-ml-20 {
	margin-left: 1.25rem
}

.fl-ml-20-i {
	margin-left: 1.25rem !important
}

.fl-pl-20 {
	padding-left: 1.25rem
}

.fl-mx-20 {
	margin-left: 1.25rem;
	margin-right: 1.25rem
}

.fl-px-20 {
	padding-left: 1.25rem;
	padding-right: 1.25rem
}

.fl-my-20 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem
}

.fl-py-20 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem
}

.fl-m-24 {
	margin: 1.5rem
}

.fl-m-24-i {
	margin: 1.5rem !important
}

.fl-p-24 {
	padding: 1.5rem
}

.fl-mt-24 {
	margin-top: 1.5rem
}

.fl-mt-24-i {
	margin-top: 1.5rem !important
}

.fl-pt-24 {
	padding-top: 1.5rem
}

.fl-mr-24 {
	margin-right: 1.5rem
}

.fl-mr-24-i {
	margin-right: 1.5rem !important
}

.fl-pr-24 {
	padding-right: 1.5rem
}

.fl-mb-24 {
	margin-bottom: 1.5rem
}

.fl-mb-24-i {
	margin-bottom: 1.5rem !important
}

.fl-pb-24 {
	padding-bottom: 1.5rem
}

.fl-ml-24 {
	margin-left: 1.5rem
}

.fl-ml-24-i {
	margin-left: 1.5rem !important
}

.fl-pl-24 {
	padding-left: 1.5rem
}

.fl-mx-24 {
	margin-left: 1.5rem;
	margin-right: 1.5rem
}

.fl-px-24 {
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

.fl-my-24 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem
}

.fl-py-24 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem
}

.fl-m-32 {
	margin: 2rem
}

.fl-m-32-i {
	margin: 2rem !important
}

.fl-p-32 {
	padding: 2rem
}

.fl-mt-32 {
	margin-top: 2rem
}

.fl-mt-32-i {
	margin-top: 2rem !important
}

.fl-pt-32 {
	padding-top: 2rem
}

.fl-mr-32 {
	margin-right: 2rem
}

.fl-mr-32-i {
	margin-right: 2rem !important
}

.fl-pr-32 {
	padding-right: 2rem
}

.fl-mb-32 {
	margin-bottom: 2rem
}

.fl-mb-32-i {
	margin-bottom: 2rem !important
}

.fl-pb-32 {
	padding-bottom: 2rem
}

.fl-ml-32 {
	margin-left: 2rem
}

.fl-ml-32-i {
	margin-left: 2rem !important
}

.fl-pl-32 {
	padding-left: 2rem
}

.fl-mx-32 {
	margin-left: 2rem;
	margin-right: 2rem
}

.fl-px-32 {
	padding-left: 2rem;
	padding-right: 2rem
}

.fl-my-32 {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.fl-py-32 {
	padding-top: 2rem;
	padding-bottom: 2rem
}

.fl-m-40 {
	margin: 2.5rem
}

.fl-m-40-i {
	margin: 2.5rem !important
}

.fl-p-40 {
	padding: 2.5rem
}

.fl-mt-40 {
	margin-top: 2.5rem
}

.fl-mt-40-i {
	margin-top: 2.5rem !important
}

.fl-pt-40 {
	padding-top: 2.5rem
}

.fl-mr-40 {
	margin-right: 2.5rem
}

.fl-mr-40-i {
	margin-right: 2.5rem !important
}

.fl-pr-40 {
	padding-right: 2.5rem
}

.fl-mb-40 {
	margin-bottom: 2.5rem
}

.fl-mb-40-i {
	margin-bottom: 2.5rem !important
}

.fl-pb-40 {
	padding-bottom: 2.5rem
}

.fl-ml-40 {
	margin-left: 2.5rem
}

.fl-ml-40-i {
	margin-left: 2.5rem !important
}

.fl-pl-40 {
	padding-left: 2.5rem
}

.fl-mx-40 {
	margin-left: 2.5rem;
	margin-right: 2.5rem
}

.fl-px-40 {
	padding-left: 2.5rem;
	padding-right: 2.5rem
}

.fl-my-40 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem
}

.fl-py-40 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem
}

picture[CrownCrete-picture] {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

picture[CrownCrete-picture] img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	display: block;
	transition: transform .3s ease
}

picture[CrownCrete-picture].fill img {
	object-fit: fill
}

picture[CrownCrete-picture].contain img {
	object-fit: contain
}

picture[CrownCrete-picture].aspect-ratio-1-1 img {
	height: auto;
	aspect-ratio: 1/1
}

picture[CrownCrete-picture]:hover img {
	transform: scale(1.05)
}

.CrownCrete-loader {
	width: 48px;
	height: 48px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.CrownCrete-loader.labeled {
	width: auto
}

.CrownCrete-loader .CrownCrete-caption {
	margin-top: 1rem;
	font-size: .9rem;
	font-weight: 500;
	color: var(--fl-fg700);
	-webkit-user-select: none !important;
	user-select: none !important
}

.CrownCrete-loader .CrownCrete-loader-circle {
	width: inherit;
	height: inherit;
	animation: loader-spin 1.5s linear infinite;
	color: var(--fl-primary)
}

.CrownCrete-loader .CrownCrete-loader-CrownCrete {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: inherit;
	height: inherit;
	grid-gap: 10%;
	animation: loader-pulse 1.5s ease-in-out infinite alternate
}

.CrownCrete-loader .CrownCrete-loader-CrownCrete div {
	border-radius: 4px;
	background-color: var(--fl-primary)
}

.CrownCrete-loader .CrownCrete-loader-CrownCrete svg {
	width: inherit;
	height: inherit;
	animation: loader-spin 2s linear infinite
}

.CrownCrete-loader .CrownCrete-loader-stars {
	position: relative;
	width: 7rem;
	height: 7rem;
	min-height: 7rem;
	min-width: 7rem
}

.CrownCrete-loader .CrownCrete-loader-stars CrownCrete-icon {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0;
	scale: 1;
	color: var(--fl-primary)
}

.CrownCrete-loader .CrownCrete-loader-stars CrownCrete-icon:nth-child(1) {
	top: 20px;
	right: 18px;
	animation: sparkAnimation1 .9s ease-in-out .25s infinite alternate none
}

.CrownCrete-loader .CrownCrete-loader-stars CrownCrete-icon:nth-child(2) {
	top: 3rem;
	left: 1.5rem;
	animation: sparkAnimation1 .9s ease-in-out 0ms infinite alternate none
}

.CrownCrete-loader .CrownCrete-loader-stars CrownCrete-icon:nth-child(3) {
	bottom: 1rem;
	right: 1rem;
	animation: sparkAnimation1 .9s ease-in-out .1s infinite alternate none
}

.CrownCrete-loader .CrownCrete-loader-progress-bar {
	position: relative;
	width: 15rem;
	margin-top: 1rem;
	height: 8px;
	background-color: var(--fl-bg200);
	border-radius: 4px;
	overflow: hidden
}

.CrownCrete-loader .CrownCrete-loader-progress-bar::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 30%;
	background-color: var(--fl-primary);
	animation: progressAnimation 2s ease-in-out infinite
}

@keyframes loader-spin {
	0% {
		transform: rotate(0)
	}

	to {
		transform: rotate(360deg)
	}
}

@keyframes loader-pulse {
	0% {
		opacity: .5;
		transform: scale(.8)
	}

	100% {
		opacity: 1;
		transform: scale(1)
	}
}

@keyframes sparkAnimation1 {
	0% {
		transform: scale(1);
		opacity: 0
	}

	50% {
		transform: scale(1.5);
		opacity: 1
	}

	100% {
		transform: scale(1);
		opacity: 0
	}
}

@keyframes progressAnimation {
	0% {
		width: 0;
		left: 0
	}

	50% {
		width: 100%;
		left: 0
	}

	100% {
		width: 0;
		left: 100%
	}
}

.CrownCrete-skeleton-loader {
	border-radius: 8px !important;
	position: relative;
	overflow: hidden;
	background-color: var(--fl-bg200) !important;
	background-repeat: no-repeat;
	border-color: transparent !important;
	border-width: 0 !important;
	color: transparent !important;
	pointer-events: none !important
}

.CrownCrete-skeleton-loader::before {
	content: "";
	display: block;
	position: absolute;
	left: -150px;
	top: 0;
	height: 100%;
	width: 150px;
	background: linear-gradient(to right, transparent 0%, var(--fl-bg100) 50%, transparent 100%);
	animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite
}

@keyframes load {
	from {
		left: -150px
	}

	to {
		left: 100%
	}
}

.CrownCrete-panel {
	max-width: 450px;
	padding: 1.5rem;
	background-color: var(--fl-bg);
	border-radius: 16px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .1)
}

.CrownCrete-menu-panel {
	display: flex;
	flex-direction: column
}

.CrownCrete-side-panel {
	position: absolute !important;
	bottom: 0;
	right: 0
}

.CrownCrete-side-panel .CrownCrete-dialog {
	height: auto;
	justify-content: flex-end
}

@media (orientation: landscape) {
	.CrownCrete-side-panel {
		top: 0
	}

	.CrownCrete-side-panel .CrownCrete-dialog {
		height: 100%;
		width: 100%
	}
}

.CrownCrete-dark-overlay {
	background-color: var(--fl-overlay)
}

.CrownCrete-overlay-contain {
	flex: 1;
	height: 100%
}

@media (max-width: 1023px) {
	.CrownCrete-overlay-contain {
		width: 100%
	}
}

@media (min-width: 1024px) {
	.CrownCrete-overlay-contain {
		right: 0
	}
}

.CrownCrete-overlay-contain .CrownCrete-dialog {
	max-height: 100vh
}

.CrownCrete-no-pointer-events {
	pointer-events: none
}

.CrownCrete-overlay-full {
	height: 100%
}

@media (max-width: 1023px) {
	.CrownCrete-overlay-full {
		flex: 1
	}
}

@media (max-width: 767px) {
	.CrownCrete-overlay-center {
		height: 100%;
		flex: 1
	}
}

@media (min-width: 768px) {
	.CrownCrete-overlay-center {
		justify-content: center;
		align-items: center
	}

	.CrownCrete-overlay-center .CrownCrete-dialog-container,
	.CrownCrete-overlay-center .CrownCrete-dialog-wrapper {
		align-items: center;
		justify-content: center
	}
}

.floor-overlay-transparent {
	background-color: transparent
}

.CrownCrete-slider {
	display: flex;
	width: 100%
}

.CrownCrete-slider .slider-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center
}

.CrownCrete-slider .CrownCrete-button {
	display: none
}

@media (max-width: 767px) and (orientation: landscape) {
	.CrownCrete-slider.portrait .CrownCrete-icon-button {
		display: none
	}

	.CrownCrete-slider.portrait .CrownCrete-button {
		width: 100%;
		display: inline-flex
	}

	.CrownCrete-slider.portrait .slider-container {
		flex-direction: column;
		align-items: center
	}

	.CrownCrete-slider.portrait .slider-wrapper {
		flex: 1;
		padding: 1rem 0 1.5rem
	}

	.CrownCrete-slider.portrait .slider-wrapper .ngx-slider .ngx-slider-pointer {
		top: unset;
		left: -8px !important
	}

	.CrownCrete-slider.portrait .slider-wrapper .ngx-slider .ngx-slider-bar {
		width: .5rem
	}
}

.CrownCrete-slider.landscape .CrownCrete-button,
.CrownCrete-slider.landscape .CrownCrete-icon-button {
	align-self: center
}

.CrownCrete-slider.landscape .slider-wrapper {
	flex: 1;
	padding: 0 1rem
}

.CrownCrete-slider.landscape .slider-wrapper.reseting {
	padding-right: 2rem
}

.CrownCrete-slider.landscape .slider-wrapper .ngx-slider .ngx-slider-pointer {
	top: -10px
}

.CrownCrete-slider.landscape .slider-wrapper .ngx-slider .ngx-slider-bar {
	height: .5rem
}

.CrownCrete-slider .slider-wrapper {
	flex: 1
}

.CrownCrete-slider .slider-wrapper .ngx-slider {
	margin: 0
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-bar {
	background: var(--fl-bg200) !important;
	border-radius: 4px !important
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-selection {
	background: var(--fl-primary) !important
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-bubble {
	font-weight: 500;
	font-size: .875rem;
	line-height: 1rem;
	color: var(--fl-fg800);
	left: 20px
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-pointer {
	width: 28px;
	height: 28px;
	background-color: var(--fl-bg);
	border-radius: 50%;
	border: 2px solid var(--fl-primary);
	top: -12px;
	transition: transform .2s ease
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-pointer:after {
	display: none
}

.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-pointer:hover,
.CrownCrete-slider .slider-wrapper .ngx-slider .ngx-slider-pointer:focus {
	transform: scale(1.1)
}

.CrownCrete-field .CrownCrete-input {
	width: 100%
}

.CrownCrete-field .CrownCrete-caption {
	color: var(--fl-fg700);
	font-weight: 500;
	font-size: .875rem;
	margin-bottom: .5rem
}

.CrownCrete-progress-loader {
	display: flex;
	width: 100%;
	height: 12px
}

.CrownCrete-progress-loader .loader-container {
	flex: 1;
	background-color: var(--fl-bg200);
	border-radius: 6px;
	overflow: hidden
}

.CrownCrete-progress-loader .loader-container .progress-bar {
	background-color: var(--fl-primary);
	border-radius: inherit;
	height: 100%;
	transition: width .3s ease-in-out
}

h1,
.CrownCrete-h1 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.2
}

@media (min-width: 768px) {

	h1,
	.CrownCrete-h1 {
		font-size: 3.5rem
	}
}

@media (min-width: 1024px) {

	h1,
	.CrownCrete-h1 {
		font-size: 4rem
	}
}

h2,
.CrownCrete-h2 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.3
}

@media (min-width: 768px) {

	h2,
	.CrownCrete-h2 {
		font-size: 2.5rem
	}
}

@media (min-width: 1024px) {

	h2,
	.CrownCrete-h2 {
		font-size: 3rem
	}
}

h3,
.CrownCrete-h3 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.4
}

@media (min-width: 768px) {

	h3,
	.CrownCrete-h3 {
		font-size: 1.75rem
	}
}

@media (min-width: 1024px) {

	h3,
	.CrownCrete-h3 {
		font-size: 2rem
	}
}

h4,
.CrownCrete-h4 {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.4
}

@media (min-width: 768px) {

	h4,
	.CrownCrete-h4 {
		font-size: 1.5rem
	}
}

@media (min-width: 1024px) {

	h4,
	.CrownCrete-h4 {
		font-size: 1.75rem
	}
}

h5,
.CrownCrete-h5 {
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.5
}

@media (min-width: 768px) {

	h5,
	.CrownCrete-h5 {
		font-size: 1.25rem
	}
}

@media (min-width: 1024px) {

	h5,
	.CrownCrete-h5 {
		font-size: 1.5rem
	}
}

.CrownCrete-subtitle {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.5
}

@media (min-width: 768px) {
	.CrownCrete-subtitle {
		font-size: 1.25rem
	}
}

@media (min-width: 1024px) {
	.CrownCrete-subtitle {
		font-size: 1.5rem
	}
}

p,
.CrownCrete-p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6
}

@media (min-width: 768px) {

	p,
	.CrownCrete-p {
		font-size: 1.125rem
	}
}

@media (min-width: 1024px) {

	p,
	.CrownCrete-p {
		font-size: 1.25rem
	}
}

caption,
.CrownCrete-caption {
	font-weight: 400;
	font-size: .875rem;
	line-height: 1.5
}

@media (min-width: 768px) {

	caption,
	.CrownCrete-caption {
		font-size: 1rem
	}
}

label,
.CrownCrete-label {
	font-weight: 500;
	font-size: .75rem;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: .05em
}

@media (min-width: 768px) {

	label,
	.CrownCrete-label {
		font-size: .875rem
	}
}

.CrownCrete-bold {
	font-weight: 700
}

.CrownCrete-semi-bold {
	font-weight: 600
}

.CrownCrete-semi-regular {
	font-weight: 500
}

.CrownCrete-regular {
	font-weight: 400
}

.CrownCrete-light {
	font-weight: 300
}

.CrownCrete-uppercase {
	text-transform: uppercase
}

.CrownCrete-capitalize {
	text-transform: capitalize
}

.CrownCrete-base-products-view {
	display: flex;
	background-color: var(--fl-bg100)
}

@media (max-width: 1023px) and (orientation: portrait) {
	.CrownCrete-base-products-view {
		max-width: 100vw
	}
}

@media (orientation: landscape) {
	.CrownCrete-base-products-view {
		flex-direction: column;
		position: absolute;
		inset: 0
	}
}

.CrownCrete-base-products-view .CrownCrete-product-breadcrumb {
	display: inline-flex;
	border-bottom: 2px solid var(--fl-border-clr);
	padding: .75rem 1rem;
	min-height: 40px;
	background-color: var(--fl-bg);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .05)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-product-breadcrumb {
		display: none
	}
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		width: 100%;
		overflow: auto;
		justify-content: center;
		min-height: 10rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		overflow: auto
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper .products-list-inner {
		position: absolute;
		display: flex;
		padding: 1rem .5rem;
		overflow: auto;
		inset: 0
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper .products-list-inner .CrownCrete-product-tile {
		margin: 0 .5rem;
		flex: 0 0 6rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper .products-list-inner .CrownCrete-product-tile .product-tile-text {
		height: 3rem;
		max-height: 3rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper .products-list-inner .CrownCrete-product-tile:first-child {
		margin-left: 1rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-wrapper .products-list-inner .CrownCrete-product-tile:last-child {
		margin-right: 1rem
	}
}

@media (orientation: landscape) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing {
		width: 100%;
		overflow: auto
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-inner {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1.5rem;
		width: 100%;
		overflow: auto;
		padding: 1.5rem
	}
}

@media (orientation: landscape) and (max-width: 767px) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-inner {
		padding: 1rem;
		overflow-y: auto;
		overflow-x: hidden;
		grid-gap: 1rem
	}
}

@media (orientation: landscape) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-inner .CrownCrete-product-tile {
		width: auto
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-list-inner .CrownCrete-product-tile.CrownCrete-skeleton-loader {
		min-height: 9rem
	}
}

@media (orientation: landscape) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .products-list-inner {
		grid-template-columns: 1fr;
		grid-gap: 1rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile {
		flex-direction: row;
		align-items: center;
		width: 100%
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile.CrownCrete-skeleton-loader {
		min-height: 4rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile picture {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-top-right-radius: 0
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile picture img {
		width: 4rem;
		height: 4rem
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile .product-tile-label {
		text-align: left
	}

	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile .product-tile-picture-wrapper {
		width: 4rem;
		height: 4rem;
		margin-right: 1rem
	}
}

@media (orientation: landscape) and (min-width: 768px) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile .product-tile-picture-wrapper {
		width: 5rem;
		height: 5rem
	}
}

@media (orientation: landscape) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing.list-view .CrownCrete-product-tile .product-tile-picture-wrapper .product-tile-like {
		top: 8px;
		left: 8px;
		right: initial
	}
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-loader {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	z-index: 9;
	inset: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, .8)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-loader {
		padding: 0 3rem
	}
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-loader .CrownCrete-loader {
	width: 6rem;
	height: 6rem
}

@media (orientation: portrait) and (max-width: 767px) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing {
		overflow: auto
	}
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .listing-return-hor {
	display: none;
	margin: 0 0 0 1rem;
	min-width: 6rem;
	max-width: 6rem;
	height: 100%;
	max-height: 100%;
	flex-direction: column
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .listing-return-hor CrownCrete-icon {
	margin: 0 0 1.5rem;
	color: var(--fl-fg700)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .listing-return-hor {
		display: flex
	}
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .catalog-up-button {
	display: none;
	min-width: 4.5rem;
	max-width: 4.5rem;
	height: 100%;
	max-height: 100%;
	flex-direction: column
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .catalog-up-button CrownCrete-icon {
	margin: 0 0 1.5rem;
	color: var(--fl-fg700)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .catalog-up-button {
		display: flex
	}
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-scroll-up {
	position: absolute;
	bottom: 1rem;
	z-index: 1;
	left: 1rem;
	right: 1rem;
	text-align: center
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-scroll-up button {
	width: 100%;
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--fl-primary);
	color: var(--fl-bg);
	font-weight: 600;
	transition: all .2s ease
}

.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-scroll-up button:hover {
	background-color: var(--fl-primary700)
}

@media (max-width: 767px) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-scroll-up {
		display: none
	}
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .CrownCrete-base-products-listing .products-view-scroll-up {
		display: none
	}
}

.CrownCrete-base-products-view .products-view-return {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: var(--fl-bg);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .05)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .products-view-return {
		display: none
	}
}

@media (max-width: 767px) {
	.CrownCrete-base-products-view .products-view-return .CrownCrete-button CrownCrete-icon {
		margin: 0
	}

	.CrownCrete-base-products-view .products-view-return .CrownCrete-button p {
		display: none
	}
}

.CrownCrete-base-products-view .products-view-return .products-view-type-select {
	display: flex;
	align-items: center
}

.CrownCrete-base-products-view .products-view-return .products-view-type-select .CrownCrete-icon-button {
	margin-left: 1rem;
	transition: all .2s ease
}

.CrownCrete-base-products-view .products-view-return .products-view-type-select .CrownCrete-icon-button:not(.outline) {
	background-color: var(--fl-bg200);
	border-color: var(--fl-bg200)
}

.CrownCrete-base-products-view .products-view-return .products-view-type-select .CrownCrete-icon-button:hover {
	background-color: var(--fl-primary100);
	border-color: var(--fl-primary100)
}

.CrownCrete-base-products-view .products-view-error-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
	position: absolute;
	inset: 0;
	padding: 2rem;
	text-align: center;
	background-color: rgba(255, 255, 255, .9)
}

@media (orientation: portrait) {
	.CrownCrete-base-products-view .products-view-error-info {
		margin-top: 0;
		padding: 2rem;
		align-items: center
	}
}

.CrownCrete-base-products-view .products-view-error-info h3 {
	margin-bottom: 1rem;
	color: var(--fl-error-primary)
}

.CrownCrete-base-products-view .products-view-error-info p {
	margin-bottom: 2rem;
	color: var(--fl-fg700)
}

.CrownCrete-base-products-view .products-view-error-info button {
	padding: 1rem 2rem;
	background-color: var(--fl-primary);
	color: var(--fl-bg);
	border-radius: 8px;
	font-weight: 600;
	transition: all .2s ease
}

.CrownCrete-base-products-view .products-view-error-info button:hover {
	background-color: var(--fl-primary700)
}

.cdk-global-scrollblock {
	overflow-y: hidden
}

.cdk-overlay-dark-backdrop {
	background-color: rgba(0, 0, 0, .5)
}

body.CrownCrete {
	background-color: var(--fl-bg);
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	--fl-primary100: #f0f4ff;
	--fl-primary200: #d9e4ff;
	--fl-primary300: #a6c1ff;
	--fl-primary: #4d7cff;
	--fl-primary700: #3a5cbf;
	--fl-primary800: #2a4380;
	--fl-primary900: #1a2a40;
	--fl-bg: #ffffff;
	--fl-overlay: rgba(0, 0, 0, .7);
	--fl-overlay-light: rgba(255, 255, 255, .5);
	--fl-bg100: #f8f9fa;
	--fl-bg200: #e9ecef;
	--fl-fg: #212529;
	--fl-fg000: #f8f9fa;
	--fl-fg700: #495057;
	--fl-fg800: #343a40;
	--fl-error-primary: #dc3545;
	--fl-error100: #f8d7da;
	--fl-disabled-primary-txt: #adb5bd;
	--fl-disabled-primary-border: #ced4da;
	--fl-disabled-primary: #6c757d;
	--fl-border-clr: #dee2e6;
	--fl-success: #28a745;
	--fl-border-radius-xs: 4px;
	--fl-border-radius: 8px;
	--fl-border-radius-md: 12px;
	--fl-x-padding-xs: 8px;
	--fl-x-padding-s: 12px;
	--fl-x-padding: 16px;
	--fl-x-padding-md: 24px;
	--fl-x-padding-big: 40px;
	--fl-y-padding-xs: 8px;
	--fl-y-padding: 16px;
	--fl-y-padding-md: 24px;
	--fl-y-padding-big: 40px;
	--fl-check-radio-size: 24px;
	--fl-check-radio-border-size: 2px;
	--fl-check-radio-label-padding: 12px;
	--fl-disabled-opacity: .65;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--fl-fg)
}

body.CrownCrete .fl-primary100 {
	color: var(--fl-primary100)
}

body.CrownCrete .fl-primary200 {
	color: var(--fl-primary200)
}

body.CrownCrete .fl-primary300 {
	color: var(--fl-primary300)
}

body.CrownCrete .fl-primary {
	color: var(--fl-primary)
}

body.CrownCrete .fl-primary700 {
	color: var(--fl-primary700)
}

body.CrownCrete .fl-primary800 {
	color: var(--fl-primary800)
}

body.CrownCrete .fl-primary900 {
	color: var(--fl-primary900)
}

body.CrownCrete .fl-bg {
	color: var(--fl-bg)
}

body.CrownCrete .fl-overlay {
	color: var(--fl-overlay)
}

body.CrownCrete .fl-overlay-light {
	color: var(--fl-overlay-light)
}

body.CrownCrete .fl-bg100 {
	color: var(--fl-bg100)
}

body.CrownCrete .fl-bg200 {
	color: var(--fl-bg200)
}

body.CrownCrete .fl-fg {
	color: var(--fl-fg)
}

body.CrownCrete .fl-fg000 {
	color: var(--fl-fg000)
}

body.CrownCrete .fl-fg700 {
	color: var(--fl-fg700)
}

body.CrownCrete .fl-fg800 {
	color: var(--fl-fg800)
}

body.CrownCrete .fl-error-primary {
	color: var(--fl-error-primary)
}

body.CrownCrete .fl-error100 {
	color: var(--fl-error100)
}

body.CrownCrete .fl-disabled-primary-txt {
	color: var(--fl-disabled-primary-txt)
}

body.CrownCrete .fl-disabled-primary-border {
	color: var(--fl-disabled-primary-border)
}

body.CrownCrete .fl-disabled-primary {
	color: var(--fl-disabled-primary)
}

body.CrownCrete .fl-border-clr {
	color: var(--fl-border-clr)
}

body.CrownCrete .fl-success {
	color: var(--fl-success)
}

@media (min-width: 768px) {
	body.CrownCrete {
		font-size: 1.125rem
	}
}

@media (min-width: 1024px) {
	body.CrownCrete {
		font-size: 1.25rem
	}
}